{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid px-lg-4 px-xl-5">
    <!-- Breadcrumbs -->
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Batch & Level </li>
        </ul>
    </div>
    <!-- Page Header-->
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <h1 class="page-heading">Batch & Level Index</h1>
            {% if request.user.is_superuser %}
            <div class="">
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#batchmodal">
                    Add Batch
                </button>
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#levelmodal">
                    Add Level
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <section>
        <!-- MODAL -->
        <div class="modal fade" id="batchmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Batch</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'addbatch' %}">  {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="Title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="levelmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Level</h5> 
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'addlevel' %}">   {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="Title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="mb-3">
                                <select class="form-select form-select-sm" name="batch" required>
                                    {% for batch in batchs %}
                                    <option value="{{ batch.id }}">{{ batch.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- MODAL ENDS -->

        <h2>Batch</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in batchs %}
                    <tr>
                        <td>{{ batch.title }}</td>
                        <td>{{ batch.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        <h2>Level</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for level in levels %}
                    <tr>
                        <td>{{ level.title }}</td>
                        <td>{{ level.batch.title }}</td>
                        <td>{{ level.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>


{% endblock %}