{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-lg-4 px-xl-5">
    <!-- Breadcrumbs -->
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Subject & Topic Index </li>
        </ul>
    </div>
    <!-- Page Header-->
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <h1 class="page-heading">Subject & Topic Index</h1>
            {% if request.user.is_superuser %}
            <div>
                <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#interactiveModal">
                    Add Interactives Source
                </button>
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#topicmodal">
                        Add Topic Interactive
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                        data-bs-target="#infomodal">
                        Add Topic Info
                    </button>
                    
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- MODAL -->


    <div class="modal fade" id="interactiveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Interactive Zip</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'addinteractive' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Title" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" name="title">
                                    </div>
                                    <div class="mb-3">
                                        <label for="desc" class="form-label">Description</label>
                                        <textarea class="form-control" id="detail" name="detail" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="thumb" class="form-label">Thumbnail</label>
                                        <input class="form-control" type="file" id="thumb" name="thumb">
                                    </div>
                                    <div class="mb-3">
                                        <label for="intzip" class="form-label">Zip Archieve</label>
                                        <input class="form-control" type="file" id="intzip" name="intzip">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="topicmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Topic Description and Interactive</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'addtopics' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label for="Qualications" class="form-label">Select Level</label> <br>
                                        {% for qual in qualifications %}
                                        <div class="form-check form-check-inline">
                                            <input name="quals" class="form-check-input" type="checkbox" value="{{ qual.id }}"
                                                id="quals">
                                            <label class="form-check-label" for="quals">
                                                {{ qual.title }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="mb-3">
                                        <label for="boards" class="form-label">Select Board</label> <br>
                                        {% for board in boards %}
                                        <div class="form-check form-check-inline">
                                            <input name="boards" class="form-check-input" type="checkbox" value="{{ board.id }}"
                                                id="boards">
                                            <label class="form-check-label" for="boardsboards">
                                                {{ board.title }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="mb-3">
                                        <label for="Type" class="form-label">Select Topic</label>
                                        <select class="form-select form-select-sm" name="topic"
                                            aria-label=".form-select-sm example" required>
                                            {% for topic in topicmain %}
                                            <option value="{{ topic.id }}">{{ topic.title }} - {{ topic.subject.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Title" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" name="title">
                                    </div>

                                    <div class="mb-3">
                                        <label for="desc" class="form-label">Description</label>
                                        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="thumb" class="form-label">Thumbnail</label>
                                        <input class="form-control" type="file" id="thumb" name="thumb">
                                    </div>
                                    <div class="mb-3">
                                        <label for="Fee" class="form-label">Fee</label>
                                        <input type="number" class="form-control" id="fee" name="fee">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="exercise" class="form-label">Exercise</label>
                                        <input class="form-control" type="file" id="exercise" name="exercise" multiple>
                                    </div>
                                    

                                    <div class="mb-3">
                                        <label for="Type" class="form-label">Select Batch Level</label>
                                        <select class="form-select form-select-sm" name="level"
                                            aria-label=".form-select-sm example" required>
                                            {% for level in levels %}
                                            <option value="{{ level.id }}">{{ level.title }} - {{ level.batch.title }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="videourl" class="form-label">Video URL</label>
                                        <input type="text" class="form-control" id="videourl" name="videourl">
                                    </div>

                                    <div class="mb-3">
                                        <label for="Type" class="form-label">Subscription Type</label>
                                        <select class="form-select form-select-sm" name="subscriptiontype"
                                            aria-label=".form-select-sm example" required>
                                            <option selected value="notrequired">Not Required</option>
                                            <option value="required">Required</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Title" class="form-label">Subject</label>
                                        <select class="form-select form-select-sm" name="subject" required>
                                            {% for subject in subjects %}
                                            <option value="{{ subject.id }}">{{ subject.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Type" class="form-label">Select Interactives</label>
                                        <select class="form-select form-select-sm" name="index_source_id"
                                            aria-label=".form-select-sm example" required>
                                            {% for int in interactives %}
                                            <option value="{{ int.id }}">{{ int.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="scene" class="form-label">Scene No:</label>
                                        <input type="text" class="form-control" id="scene" name="scene" required>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div class="modal fade" id="infomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Information To Topic</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'addtopicinfo' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Type" class="form-label">Select Topic</label>
                                        <select class="form-select form-select-sm" name="topic" required>
                                            {% for topic in topics %}
                                            <option value="{{ topic.id }}">{{ topic.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="article" class="form-label">Artice in Text</label>
                                        <textarea class="form-control" id="article" name="article" rows="3"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="articleimage" class="form-label">Article in File</label>
                                        <input class="form-control" type="file" id="articleimage" name="articleimage"
                                            multiple>
                                    </div>

                                    <div class="mb-3">
                                        <label for="instruction" class="form-label">Instruction in Text</label>
                                        <textarea class="form-control" id="instruction" name="instruction"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="instructionimage" class="form-label">Instruction in File</label>
                                        <input class="form-control" type="file" id="instructionimage"
                                            name="instructionimage" multiple>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label for="shortdescription" class="form-label">Short Description</label>
                                        <textarea class="form-control" id="shortdescription" name="shortdescription"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="instructional_video" class="form-label">Instruction Video
                                            URL</label>
                                        <input type="text" class="form-control" id="instructional_video"
                                            name="instructional_video">
                                    </div>

                                    <div class="mb-3">
                                        <label for="theory_video" class="form-label">Theory Video URL</label>
                                        <input type="text" class="form-control" id="theory_video" name="theory_video">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL ENDS -->

    <div class="card mb-4">
        <div class="card-header">
            <div class="card-heading">Interactives Index</div>
        </div>
        <div class="card-body text-muted">
            <p>List of Interactives</p>
            <table class="table" id="datatable1">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">URL</th>
                        <th scope="col">Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for int in interactives %}
                    <tr>
                        <td>{{ int.title }}</td>
                        <td>{{ int.intUrl }}</td>
                        <td>{{ int.detail }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
<!-- 
    <h2>Subject</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Level</th>
                    <th scope="col">SubjectType</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.title }}</td>
                    <td>{{ subject.level.title }}</td>
                    <td>{{ subject.subjectType }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <h2>Topic</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Subject</th>
                </tr>
            </thead>
            <tbody>
                {% for main in topicmain %}
                <tr>
                    <td>{{ main.title }}</td>
                    <td>{{ main.subject.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr> -->


    <div class="card mb-4">
        <div class="card-header">
            <div class="card-heading">Topic Interactive & Detail</div>
        </div>
        <div class="card-body text-muted">
            <p>List of Topic Interactive & Detail</p>
            <table class="table" id="datatable2">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Fee</th>
                        <th scope="col">SubscriptinType</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}
                    <tr>
                        <td>{{ topic.title }}</td>
                        <td>{{ topic.subject.title }}</td>
                        <td>{{ topic.fee }}</td>
                        <td>{{ topic.subcriptionType }}</td>
                        <!-- <td>{{ topic.status }}</td> -->
                        {% if topic.status %}
                        <td><a class="btn btn-sm btn-success" href="{% url 'topicstatustoggle' topic.id %}">Activated</a>
                        </td>
                        {% else %}
                        <td><a class="btn btn-sm btn-danger" href="{% url 'topicstatustoggle' topic.id %}">Inactive</a></td>
                        {% endif %}
                        <td>
                            <i class="bi bi-1-square"></i>
                            <i class="bi bi-app"></i>
                            <i class="bi bi-pen"></i>
                            <i class="bi bi-hurricane"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="infomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Information To Topic</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'addtopicinfo' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Type" class="form-label">Select Topic</label>
                                        <select class="form-select form-select-sm" name="topic" required>
                                            {% for topic in topics %}
                                            <option value="{{ topic.id }}">{{ topic.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="article" class="form-label">Artice in Text</label>
                                        <textarea class="form-control" id="article" name="article" rows="3"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="articleimage" class="form-label">Article in File</label>
                                        <input class="form-control" type="file" id="articleimage" name="articleimage"
                                            multiple>
                                    </div>

                                    <div class="mb-3">
                                        <label for="instruction" class="form-label">Instruction in Text</label>
                                        <textarea class="form-control" id="instruction" name="instruction"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="instructionimage" class="form-label">Instruction in File</label>
                                        <input class="form-control" type="file" id="instructionimage"
                                            name="instructionimage" multiple>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label for="shortdescription" class="form-label">Short Description</label>
                                        <textarea class="form-control" id="shortdescription" name="shortdescription"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="instructional_video" class="form-label">Instruction Video
                                            URL</label>
                                        <input type="text" class="form-control" id="instructional_video"
                                            name="instructional_video">
                                    </div>

                                    <div class="mb-3">
                                        <label for="theory_video" class="form-label">Theory Video URL</label>
                                        <input type="text" class="form-control" id="theory_video" name="theory_video">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="infomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Information To Topic</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'addhistory' topic.id %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="shortdescription" class="form-label">Short Description</label>
                                        <textarea class="form-control" id="shortdescription" name="shortdescription"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="infomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Information To Topic</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'addtopicinfo' %}" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Type" class="form-label">Select Topic</label>
                                        <select class="form-select form-select-sm" name="topic" required>
                                            {% for topic in topics %}
                                            <option value="{{ topic.id }}">{{ topic.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="article" class="form-label">Artice in Text</label>
                                        <textarea class="form-control" id="article" name="article" rows="3"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="articleimage" class="form-label">Article in File</label>
                                        <input class="form-control" type="file" id="articleimage" name="articleimage"
                                            multiple>
                                    </div>

                                    <div class="mb-3">
                                        <label for="instruction" class="form-label">Instruction in Text</label>
                                        <textarea class="form-control" id="instruction" name="instruction"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="instructionimage" class="form-label">Instruction in File</label>
                                        <input class="form-control" type="file" id="instructionimage"
                                            name="instructionimage" multiple>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="mb-3">
                                        <label for="shortdescription" class="form-label">Short Description</label>
                                        <textarea class="form-control" id="shortdescription" name="shortdescription"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="instructional_video" class="form-label">Instruction Video
                                            URL</label>
                                        <input type="text" class="form-control" id="instructional_video"
                                            name="instructional_video">
                                    </div>

                                    <div class="mb-3">
                                        <label for="theory_video" class="form-label">Theory Video URL</label>
                                        <input type="text" class="form-control" id="theory_video" name="theory_video">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <div class="card-heading">Topic Information Index</div>
        </div>
        <div class="card-body text-muted">
            <p>List of Topic Information</p>
            <table class="table" id="datatable3">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Fee</th>
                        <th scope="col">SubscriptinType</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in infos %}
                    <tr>
                        <td>{{ info.topic.title }}</td>
                        <td>{{ info.topic.subject.title }}</td>
                        <td>{{ info.topic.fee }}</td>
                        <td>{{ info.topic.subcriptionType }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}