<div class="sidebar py-3" id="sidebar">
    <h6 class="sidebar-heading">Main</h6>
    <ul class="list-unstyled">
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="/">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#portfolio-grid-1"> </use>
                </svg>
                <span class="sidebar-link-title">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'students' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#man-1"> </use>
                </svg>
                <span class="sidebar-link-title">Students</span>
            </a>
        </li>

        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'teachers' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#news-1"> </use>
                </svg>
                <span class="sidebar-link-title">Teachers</span>
            </a>
        </li>

        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'universities' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#real-estate-1"> </use>
                </svg>
                <span class="sidebar-link-title">University List</span>
            </a>
        </li>

        

        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'students' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#multiple-windows-1"> </use>
                </svg>
                <span class="sidebar-link-title">Directory List</span>
            </a>
        </li>
    </ul>
    <h6 class="sidebar-heading">Docs</h6>
    <ul class="list-unstyled">
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'students' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#configuration-1"> </use>
                </svg>
                <span class="sidebar-link-title">Settings</span>
            </a>
        </li>
    </ul>
</div>