<div class="sidebar py-3" id="sidebar">
    <h6 class="sidebar-heading">Main</h6>
    <ul class="list-unstyled">
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'home' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#portfolio-grid-1"> </use>
                </svg>
                <span class="sidebar-link-title">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'students' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#man-1"> </use>
                </svg>
                <span class="sidebar-link-title">Students</span>
            </a>
        </li>

        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'teachers' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#user-1"> </use>
                </svg>
                <span class="sidebar-link-title">Counselors</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'countries' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#location-pin-1"> </use>
                </svg>
                <span class="sidebar-link-title">Country List</span>
            </a>
        </li>

        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'universities' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#real-estate-1"> </use>
                </svg>
                <span class="sidebar-link-title">University List</span>
            </a>
        </li>

        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'qualifications' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#literature-1"> </use>
                </svg>
                <span class="sidebar-link-title">Qualifications</span>
            </a>
        </li>

        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'directories' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#multiple-windows-1"> </use>
                </svg>
                <span class="sidebar-link-title">Directory List</span>
            </a>
        </li>
    </ul>
    <h6 class="sidebar-heading">Docs</h6>
    <ul class="list-unstyled">
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'students' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#configuration-1"> </use>
                </svg>
                <span class="sidebar-link-title">Settings</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'systemlog' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#gear-1"> </use>
                </svg>
                <span class="sidebar-link-title">System Log</span>
            </a>
        </li>
    </ul>
    <h6 class="sidebar-heading">Eskay</h6>
    <ul class="list-unstyled">
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'articleindex' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#configuration-1"> </use>
                </svg>
                <span class="sidebar-link-title">Articles</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'videoindex' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#gear-1"> </use>
                </svg>
                <span class="sidebar-link-title">Videos</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'physicsindex' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#gear-1"> </use>
                </svg>
                <span class="sidebar-link-title">Physics</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'courseindex' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#gear-1"> </use>
                </svg>
                <span class="sidebar-link-title">Courses</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="{% url 'subscriptionkeylist' %}">
                <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/static/icons/orion-svg-sprite.svg#gear-1"> </use>
                </svg>
                <span class="sidebar-link-title">Subscription Key</span>
            </a>
        </li>
    </ul>
</div>