{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edbase | GLOBAL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Popppins for copy-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap"
        rel="stylesheet">
    <!-- Prism Syntax Highlighting-->
    <link rel="stylesheet" href="/static/vendor/prismjs/plugins/toolbar/prism-toolbar.css">
    <link rel="stylesheet" href="/static/vendor/prismjs/themes/prism-okaidia.css">
    <!-- The Main Theme stylesheet (Contains also Bootstrap CSS)-->
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/static/img/favicon.png">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <!-- navbar-->
    <header class="header">
        {% include 'utils/header.html' %}
    </header>
    <div class="d-flex align-items-stretch">        
        {% include 'utils/sidenav.html' %}        
        <div class="page-holder bg-gray-100">
            {% block content %}
            {% endblock %}
            <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start fw-bold">
                            <p class="mb-2 mb-md-0 fw-bold">Eskay &copy; 2023</p>
                        </div>
                        <div class="col-md-6 text-center text-md-end text-gray-400">
                            <p class="mb-0">Version 1.0b</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Data Tables-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@5"></script>
    <script src="/static/js/tables-datatable.js"></script>
    <!-- Main Theme JS File-->
    <script src="/static/js/theme.js"></script>
    <!-- Prism for syntax highlighting-->
    <script src="/static/vendor/prismjs/prism.js"></script>
    <script src="/static/vendor/prismjs/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    <script src="/static/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="/static/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script type="text/javascript">
        // Optional
        Prism.plugins.NormalizeWhitespace.setDefaults({
            'remove-trailing': true,
            'remove-indent': true,
            'left-trim': true,
            'right-trim': true,
        });

    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% block scripts %}
    {% endblock %}
</bod%y>

</html>