{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-lg-4 px-xl-5">
    <section class="mb-4 mb-lg-5">
        <h2 class="section-heading section-heading-ms mb-4 mb-lg-5">Overall Status</h2>
        <div class="pb-5">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row g-5">
                        <div class="col-xl-3 col-md-6">
                            <h6 class="subtitle fw-normal text-muted">Students</h6>
                            <h5 class="m-b-25">{{ data.students }}
                                <!-- <span class="ms-3 float-end text-red">+20.3%</span> -->
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-red" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100" style="width:85%"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <h6 class="subtitle fw-normal text-muted">Counselors</h6>
                            <h5 class="m-b-25">{{ data.counselors }}
                                <!-- <span class="ms-3 float-end text-blue">+3.3%</span> -->
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100" style="width:75%"></div>
                            </div>
                            <!-- <p>Added this month</p> -->
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <h6 class="subtitle fw-normal text-muted">Countries</h6>
                            <h5 class="m-b-25">{{ data.countries }}
                                <!-- <span class="ms-3 float-end text-primary">+10.5%</span> -->
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="67"
                                    aria-valuemin="0" aria-valuemax="100" style="width:67%"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <h6 class="subtitle fw-normal text-muted">Applications</h6>
                            <h5 class="m-b-25">{{ data.applications }}
                                <!-- <span class="ms-3 float-end text-green">-5.8%</span> -->
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="93"
                                    aria-valuemin="0" aria-valuemax="100" style="width:93%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-header">
                        <h4 class="card-heading">Student Registration Growth</h4>
                    </div>
                    <div class="card-body">
                        <div class="chart-holder w-100">
                            <canvas id="lineChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-4 mb-lg-0">
                <div class="h-50 pb-4 pb-lg-2">
                    <div class="card h-100">
                        <div class="card-body d-flex">
                            <div class="row w-100 align-items-center">
                                <h3 class="card-heading">This month registration</h3>
                                <div class="col-sm-5 mb-4 mb-sm-0">
                                    <h2 class="mb-0 d-flex align-items-center"><span>{{ data.student_this_month }}</span><span
                                            class="dot bg-green d-inline-block ms-3"></span></h2><span
                                        class="text-muted text-uppercase small">Students</span>
                                    <hr><small class="text-muted">Over total 100 Student in the System</small>
                                </div>
                                <div class="col-sm-7">
                                    <canvas id="pieChartHome1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-50 pt-lg-2">
                    <div class="card h-100">
                        <div class="card-body d-flex">
                            <div class="row w-100 align-items-center">
                                <h3 class="card-heading">Application Status</h3>
                                <div class="col-sm-5 mb-4 mb-sm-0">
                                    <h2 class="mb-0 d-flex align-items-center"><span>{{ data.application_this_month }}</span><span
                                            class="dot bg-indigo d-inline-block ms-3"></span></h2><span
                                        class="text-muted text-uppercase small">Applications Done</span>
                                    <hr><small class="text-muted">Over total 100 Student in the System</small>
                                </div>
                                <div class="col-sm-7">
                                    <canvas id="pieChartHome2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-4 mb-lg-5">
        <h2 class="section-heading section-heading-ms mb-4 mb-lg-5">Shortcuts Inside System</h2>
        <div class="row text-dark">
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card credit-card bg-hover-gradient-indigo">
                    <div class="credict-card-content">
                        <div class="h1 mb-3 mb-lg-1"><i class="fas fa-user-graduate fa-2x"></i></div>
                        <div class="credict-card-bottom">
                            <div class="text-uppercase flex-shrink-0 me-1 mb-1">
                                <div class="fw-bold">Students</div>
                                <small class="text-gray-500">Registered Active Students</small>
                            </div>
                            <h4 class="mb-1">{{ data.students }}</h4>
                        </div>
                    </div><a class="stretched-link" href="{% url 'students' %}"></a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card credit-card bg-hover-gradient-blue">
                    <div class="credict-card-content">
                        <div class="h1 mb-3 mb-lg-1"><i class="fas fa-school fa-2x"></i></div>
                        <div class="credict-card-bottom">
                            <div class="text-uppercase flex-shrink-0 me-1 mb-1">
                                <div class="fw-bold">Teachers</div><small class="text-gray-500">Registered Active
                                    Teacher</small>
                            </div>
                            <h4 class="mb-1">{{ data.counselors }}</h4>
                        </div>
                    </div><a class="stretched-link" href="{% url 'teachers' %}"></a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4">
                <div class="card credit-card bg-hover-gradient-green">
                    <div class="credict-card-content">
                        <div class="h1 mb-3 mb-lg-1"><i class="fas fa-university fa-2x"></i></div>
                        <div class="credict-card-bottom">
                            <div class="text-uppercase flex-shrink-0 me-1 mb-1">
                                <div class="fw-bold">Universities</div><small class="text-gray-500">Registered
                                    Universities</small>
                            </div>
                            <h4 class="mb-1">{{ data.universities }}</h4>
                        </div>
                    </div><a class="stretched-link" href="{% url 'universities' %}"></a>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}

{% block scripts %}
<!-- Init Charts on Homepage-->
<script src="/static/vendor/chart.js/Chart.min.js"></script>
<script src="/static/js/charts-defaults.js"></script>
<script src="/static/js/charts-home.js"></script>
{% endblock %}