{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid px-lg-4 px-xl-5">
    <section class="mb-3 mb-lg-5">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-heading">Short Detail Information of {{ student.name }}</h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p class="fs-6">Name : <span class="fw-bold">{{ student.name }}</span></p>
                </div>
                <div class="mb-3">
                    <p class="fs-6">Mobile : <span class="fw-bold">{{ student.mobile }}</span></p>
                </div>
                <div class="mb-3">
                    <p class="fs-6">Email : <span class="fw-bold">{{ student.email }}</span></p>
                </div>
                <div class="mb-3">
                    <p class="fs-6">School : <span class="fw-bold">{{ student.school }}</span></p>
                </div>
                <div class="mb-3">
                    <p class="fs-6">Status : <span class="fw-bold">{{ student.status }}</span></p>
                </div>
                <div class="mb-3">
                    <p class="fs-6">Qualification : <span class="fw-bold">{{ student.qualification }}</span></p>
                </div>
            </div>
            <div class="card-footer ">
                {% if student.assigned_teacher is not None %}
                <div class="row justify-content-between">
                    <div class="col-8">
                        <p class="fs-6">Assigned Counselor : <span class="fw-bold">{{ student.assigned_teacher }}</span></p>                             
                    </div>
                </div>   
                {% else %}
                <p>No Counselor Assigned Yet</p> 
                {% endif %}
            </div>

        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-heading">Links To The File Directory</h4>
            </div>
            <div class="card-body">
                <ul>
                    {% for dir in directories %}
                    <li><a class="" href="{% url 'directoryindex' dir.id %}"><i class="far fa-folder"></i> {{ dir.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- <div class="row">
            {% for dir in directories %}
            <div class="col-md-6 col-lg-3 h-100">
                <div class="card mb-4">
                    <div class="card-img-top img-fluid text-center p-5"><i class="far fa-folder fa-5x"></i></div>
                    <div class="card-body">
                        <div class="d-grid col-12 mx-auto">
                            <a class="btn btn-outline-secondary" href="{% url 'directoryindex' dir.id %}">{{ dir.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div> -->


        <div class="row">
            <div class="col-md-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <h4 class="card-heading">Universities Suggested or Interested</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myIns" role="tablist">
                            {% for institute in institutes %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="{{ institute.id }}-tab" data-bs-toggle="tab" data-bs-target="#institute{{ institute.id }}"
                                    type="button" role="tab" aria-controls="{{ institute.id }}" aria-selected="true"><i class="fas fa-globe-asia"></i> {{ institute.country }}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for institute in institutes %}
                            <div class="tab-pane fade show" id="institute{{ institute.id }}" role="tabpanel" aria-labelledby="{{ institute.id }}-tab">
                                <div class="p-5">
                                    <p class="lead">{{ institute.country }} Contents</p>
                                    {% if institute.data is not None %}
                                    <div class="">
                                        <ul>
                                        {% for content in institute.data %}
                                        <li><a class="" href="{% url 'unidetail' content.university.id %}"><i class="fas fa-university"></i> {{ content.university }}</a></li>
                                        <!-- <div class="col-md-4 col-lg-3 h-100">
                                            <div class="card mb-4">
                                                <div class="card-img-top img-fluid text-center p-5"><i class="fa fa-file fa-3x"></i></div>
                                                <div class="card-body">
                                                    <div class="d-grid col-12 mx-auto">
                                                        <a class="btn btn-outline-secondary" type="button" href="">{{ content.university }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        {% endfor %}
                                        </ul>
                                    </div>

                                    {% else %}
                                    <p class="lead fw-bold">No University Added Yet</p>
                                    {% if request.user.student %}
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#universityinterest" data-id="{{ institute.id }}" onclick="func(this)">
                                        <i class="fas fa-globe-europe"></i> Add Your University of Interest
                                    </button>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="universityinterest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="" id="loaduni">

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script>
    var secondTabEl = document.querySelector('#myIns li:first-child button');
    var secondTab = new bootstrap.Tab(secondTabEl);

    secondTab.show();    
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function func(d){
        console.log(d.getAttribute("data-id"));
        var url = "{% url 'studentunis' %}"; 
        console.log(url);
        const cid = d.getAttribute("data-id");
        $.ajax({
            url: url,
            type: 'get',
            data: {
                'cid' : cid,
            },
            success: function(data){
                $('#loaduni').html(data);
            }
        })
    }
</script>
{% endblock %}