{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-lg-4 px-xl-5">
    <!-- Breadcrumbs -->
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Directory Index </li>
        </ul>
    </div>
    <!-- Page Header-->
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <h1 class="page-heading">Directory Index</h1>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#add_directory">
                Add A Directory
            </button>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="add_directory" tabindex="-1" aria-labelledby="adddirectory" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adddirectory">Add a Directory</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'adddirectory' %}" method="post"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Directory Title</label>
                            <input type="text" class="form-control" id="title" name="title"
                                placeholder="Directory Title">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section>
        <div class="card mb-4">
            <div class="card-header">
                <div class="card-heading">Directory Index</div>
            </div>
            <div class="card-body text-muted">
                <p>List of Directory Where Students upload their contents</p>
                <table class="table" id="datatable1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for directory in data %}
                        <tr>
                            <td>{{ directory.id }}</td>
                            <td>{{ directory.title }}</td>
                            {% if directory.status is True %}
                            <td>Available</td>
                            {% else %}
                            <td>Currently Inactive</td>
                            {% endif %}
                            <td>
                                {% if directory.status is True %}
                                <a href="" class="btn btn-sm btn-warning">De-activate</a>
                                {% else %}
                                <a href="" class="btn btn-sm btn-info">Activate</a>
                                {% endif %}
                                <a href="" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock %}