{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-lg-4 px-xl-5">
    <!-- Breadcrumbs -->
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Student Index </li>
        </ul>
    </div>
    <!-- Page Header-->
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <h1 class="page-heading">Data Table</h1>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Register A Student
            </button>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Student Registration</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="get" action="">
                    <div class="modal-body">

                        <p class="fs-2">Academic Information</p>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="name">Name </label>
                                <input class="form-control" id="name" name="name" type="text" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="mobile">Mobile</label>
                                <input class="form-control" id="mobile" type="number" name="mobile" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="guardian_mobile">Guardian Mobile </label>
                                <input class="form-control" id="guardian_mobile" name="guardian_mobile" type="number"
                                    required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="email">Email Address</label>
                                <input class="form-control" id="email" type="email" name="email" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="school">School</label>
                                <input class="form-control" id="school" name="school" type="text" required>
                            </div>
                            <div class="col-6">
                                <label for="name" class="form-label">Qualifications</label>
                                <select class="form-select" aria-label="Default select qualification" name="qual">
                                    <option selected>Open this select menu</option>
                                    {% for qual in qualifications %}
                                    <option value="{{ qual.id }}">{{ qual.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <p class="fs-2">Personal Information</p>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label" for="passport">Passport/NID Number (Any One) </label>
                                <input class="form-control" id="passport" name="passport" type="text" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="mother">Mother's Name </label>
                                <input class="form-control" id="mother" name="mother" type="text" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="father">Father's Name </label>
                                <input class="form-control" id="father" name="father" type="text" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="parents_phone">Parent's Phone (Any One) </label>
                                <input class="form-control" id="parents_phone" name="parent_phone" type="text" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="praent_email">Parent's Email (Any One) </label>
                                <input class="form-control" id="praent_email" name="praent_email" type="email" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="street_1">Address </label>
                                <input class="form-control" id="street_1" name="street_1" type="text" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="street_2">Address </label>
                                <input class="form-control" id="street_2" name="street_2" type="text" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label class="form-label" for="city">City </label>
                                <input class="form-control" id="city" name="city" type="text" required>
                            </div>
                            <div class="col-4">
                                <label class="form-label" for="zip_code">Zip </label>
                                <input class="form-control" id="zip_code" name="zip_code" type="text" required>
                            </div>
                            <div class="col-4">
                                <label class="form-label" for="country">Country </label>
                                <input class="form-control" id="country" name="country" type="text" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="dob">Date Of Birth </label>
                                <input class="form-control" id="dob" name="dob" type="date" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="blood_group">Blood Group </label>
                                <input class="form-control" id="blood_group" name="blood_group" type="text" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="photo" class="form-label">Photo</label>
                                <input class="form-control form-control-sm" id="photo" name="photo" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section>
        <div class="card mb-4">
            <div class="card-header">
                <div class="card-heading">Student Index</div>
            </div>
            <div class="card-body text-muted">
                <table class="table" id="datatable1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Institute</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>City</th>
                            <th>Orders</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Nielsen Cobb</a></td>
                            <td>Memora</td>
                            <td>nielsencobb@memora.com</td>
                            <td>+1 (851) 552-2735</td>
                            <td>Graniteville</td>
                            <td>0 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Margret Cote</a></td>
                            <td>Zilidium</td>
                            <td>margretcote@zilidium.com</td>
                            <td>+1 (893) 532-2218</td>
                            <td>Foxworth</td>
                            <td>2 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Rachel Vinson</a></td>
                            <td>Chorizon</td>
                            <td>rachelvinson@chorizon.com</td>
                            <td>+1 (891) 494-2060</td>
                            <td>Eastmont</td>
                            <td>5 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Gabrielle Aguirre</a></td>
                            <td>Comverges</td>
                            <td>gabrielleaguirre@comverges.com</td>
                            <td>+1 (805) 459-3869</td>
                            <td>Whitewater</td>
                            <td>0 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Spears Collier</a></td>
                            <td>Remold</td>
                            <td>spearscollier@remold.com</td>
                            <td>+1 (910) 555-2436</td>
                            <td>Hebron</td>
                            <td>1 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Keisha Thomas</a></td>
                            <td>Euron</td>
                            <td>keishathomas@euron.com</td>
                            <td>+1 (958) 405-3392</td>
                            <td>Levant</td>
                            <td>10 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Elisabeth Key</a></td>
                            <td>Netagy</td>
                            <td>elisabethkey@netagy.com</td>
                            <td>+1 (900) 421-2096</td>
                            <td>Nile</td>
                            <td>0 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Patel Mack</a></td>
                            <td>Zedalis</td>
                            <td>patelmack@zedalis.com</td>
                            <td>+1 (800) 460-2720</td>
                            <td>Albrightsville</td>
                            <td>2 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Erika Whitaker</a></td>
                            <td>Uniworld</td>
                            <td>erikawhitaker@uniworld.com</td>
                            <td>+1 (911) 484-3333</td>
                            <td>Leola</td>
                            <td>8 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Meyers Swanson</a></td>
                            <td>Candecor</td>
                            <td>meyersswanson@candecor.com</td>
                            <td>+1 (999) 404-3297</td>
                            <td>Finderne</td>
                            <td>3 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Townsend Sloan</a></td>
                            <td>Rameon</td>
                            <td>townsendsloan@rameon.com</td>
                            <td>+1 (978) 563-2964</td>
                            <td>Coultervillle</td>
                            <td>8 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Millicent Henry</a></td>
                            <td>Balooba</td>
                            <td>millicenthenry@balooba.com</td>
                            <td>+1 (863) 585-3988</td>
                            <td>Caron</td>
                            <td>9 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Madelyn Brock</a></td>
                            <td>Combogene</td>
                            <td>madelynbrock@combogene.com</td>
                            <td>+1 (969) 508-2642</td>
                            <td>Ballico</td>
                            <td>1 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Jenkins Carney</a></td>
                            <td>Dadabase</td>
                            <td>jenkinscarney@dadabase.com</td>
                            <td>+1 (901) 471-3581</td>
                            <td>Chesterfield</td>
                            <td>6 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Grimes Delaney</a></td>
                            <td>Progenex</td>
                            <td>grimesdelaney@progenex.com</td>
                            <td>+1 (815) 514-2108</td>
                            <td>Cazadero</td>
                            <td>6 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Valencia Rivera</a></td>
                            <td>Xleen</td>
                            <td>valenciarivera@xleen.com</td>
                            <td>+1 (969) 536-3595</td>
                            <td>Kirk</td>
                            <td>7 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Helene Solomon</a></td>
                            <td>Zomboid</td>
                            <td>helenesolomon@zomboid.com</td>
                            <td>+1 (813) 456-2608</td>
                            <td>Riverton</td>
                            <td>6 </td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)" class="text-muted">Kathleen Holman</a></td>
                            <td>Hotcakes</td>
                            <td>kathleenholman@hotcakes.com</td>
                            <td>+1 (857) 406-2766</td>
                            <td>Darlington</td>
                            <td>10 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock %}