{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-lg-4 px-xl-5">
    <!-- Breadcrumbs -->
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Teacher Index </li>
        </ul>
    </div>
    <!-- Page Header-->
    <div class="page-header">
        <div class="d-flex justify-content-between">
            <h1 class="page-heading">Teacher Index</h1>
            {% if request.user.is_superuser %}
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#add_Teacher">
                Add A Teacher
            </button>
            {% endif %}
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="add_Teacher" tabindex="-1" aria-labelledby="addTeacher" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTeacher">Add a Teacher</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'addteacher' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Teacher Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="Teacher Name">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone"
                                placeholder="Phone">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="level" class="form-label">Level</label>
                            <input type="text" class="form-control" id="level" name="level"
                                placeholder="Level">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Qualifications</label>
                            <select class="form-select" aria-label="Default select country" name="qual">
                                <option selected>Open this select menu</option>
                                {% for qual in qualifications %}
                                <option value="{{ qual.id }}">{{ qual.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="photo" class="form-label">Photo</label>
                            <input class="form-control form-control-sm" id="photo" name="photo" type="file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section>
        <div class="card mb-4">
            <div class="card-header">
                <div class="card-heading">Teacher Index</div>
            </div>
            <div class="card-body text-muted">
                <table class="table" id="datatable1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Qualifcation</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in data %}
                        <tr>
                            <td> <a href="{% url 'teacherdetail' teacher.id %}">{{ teacher.id }}</a></td>
                            <td>{{ teacher.name }}</td>
                            <td>{{ teacher.qualification.title }}</td>
                            <td>{{ teacher.phone }}</td>
                            {% if teacher.status is True %}
                            <td>Available</td>
                            {% else %}
                            <td>Currently Inactive</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock %}