{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid px-lg-4 px-xl-5">
    <!-- Breadcrumbs -->
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Profile </li>
        </ul>
    </div>
    <!-- Page Header-->
    <div class="page-header">
        <h1 class="page-heading">{{ student.name }}</h1>
    </div>
    <section>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-profile mb-4">
                    <div class="card-header"
                        style="background-image: url(/static/img/photos/paul-morris-116514-unsplash.jpg);">
                    </div>
                    <div class="card-body text-center"><img class="card-profile-img" src="/media/{{ info.photo }}"
                            alt="{{ student.name }}">
                        <h3 class="mb-3">{{ student.name }}</h3>
                        <p class="mb-4">Edbase Global Applicant</p>
                        <!-- <button class="btn btn-outline-dark btn-sm"><span class="fab fa-twitter"></span> Follow</button> -->
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-heading">Profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <p class="fs-6">Name : <span class="fw-bold">{{ student.name }}</span></p>
                        </div>
                        <div class="mb-3">
                            <p class="fs-6">Mobile : <span class="fw-bold">{{ student.mobile }}</span></p>
                        </div>
                        <div class="mb-3">
                            <p class="fs-6">Email : <span class="fw-bold">{{ student.email }}</span></p>
                        </div>
                        <div class="mb-3">
                            <p class="fs-6">School : <span class="fw-bold">{{ student.school }}</span></p>
                        </div>
                        <div class="mb-3">
                            <p class="fs-6">Status : <span class="fw-bold">{{ student.status }}</span></p>
                        </div>
                        <div class="mb-3">
                            <p class="fs-6">Qualification : <span class="fw-bold">{{ student.qualification }}</span></p>
                        </div>
                    </div>
                    <div class="card-footer ">
                        {% if student.assigned_teacher is not None %}
                        <div class="row justify-content-between">
                            <div class="col-8">
                                <p class="fs-6">Assigned Teacher : <span class="fw-bold">{{ student.assigned_teacher }}</span></p>                             
                            </div>
                            {% if not request.user.student %}
                            <div class="col-4">
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#assign_teacher">
                                    Re Assign Teacher
                                </button>
                            </div>
                            {% endif %}
                        </div>                        
                        {% else %}
                        {% if request.user.is_superuser or request.user.teacher %}
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                            data-bs-target="#assign_teacher">
                            Assign A Teacher
                        </button>
                        {% endif %}
                        {% endif %}
                    </div>

                    <div class="modal fade" id="assign_teacher" tabindex="-1" aria-labelledby="assign_teacher"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="add_country">Assign A Teacher</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form action="{% url 'assignteacher' %}" method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ student.id }}" name="sid">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Teacher</label>
                                            <select class="form-select" aria-label="Default select country" name="tid">
                                                <option selected>Open this select menu</option>
                                                {% for teacher in teachers %}
                                                <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ps-3">
                                <h4>{{ student.name }}</h4>
                                <p class="text-muted mb-0">Edbase Global Student</p>
                                <ul class="social-links list-inline mb-0 mt-2">
                                    <li class="list-inline-item"><a href="javascript:void(0)" data-bs-toggle="tooltip"
                                        data-placement="top" title="{{ student.name }}'s Facebook"><i
                                                class="fab fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" data-bs-toggle="tooltip"
                                        data-placement="top" title="{{ student.mobile }}"><i class="fa fa-phone"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="@user"><i class="fab fa-skype"></i></a></li>
                                    {% if request.user.student %}
                                    <li class="list-inline-item"><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fas fa-recycle"></i> Update Profile</button>
                                    </li>
                                    <li class="list-inline-item"><button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fas fa-share-alt"></i> Update Social</button>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Student Registration</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="post" action="{% url 'studentupdate' %}" enctype="multipart/form-data">{% csrf_token %}
                                <div class="modal-body">
                                    <input type="hidden" value="{{ student.id }}" name="sid">
                                    <p class="fs-2">Personal Information</p>
                                    <hr>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" for="passport">Passport/NID Number (Any One) </label>
                                            <input class="form-control" id="passport" name="passport" type="text" required>
                                        </div>
                                    </div>
            
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label" for="mother">Mother's Name </label>
                                            <input class="form-control" id="mother" name="mother" type="text" required>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="father">Father's Name </label>
                                            <input class="form-control" id="father" name="father" type="text" required>
                                        </div>
                                    </div>
            
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label" for="parents_phone">Parent's Phone (Any One) </label>
                                            <input class="form-control" id="parents_phone" name="parent_phone" type="text" required>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="parent_email">Parent's Email (Any One) </label>
                                            <input class="form-control" id="parent_email" name="parent_email" type="email" required>
                                        </div>
                                    </div>
            
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label" for="street_1">Street Address 1 </label>
                                            <input class="form-control" id="street_1" name="street_1" type="text" required>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="street_2">Street Address 2 </label>
                                            <input class="form-control" id="street_2" name="street_2" type="text" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <label class="form-label" for="city">City </label>
                                            <input class="form-control" id="city" name="city" type="text" required>
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="zip_code">Zip </label>
                                            <input class="form-control" id="zip_code" name="zip_code" type="text" required>
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="country">Country </label>
                                            <input class="form-control" id="country" name="country" type="text" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label" for="dob">Date Of Birth </label>
                                            <input class="form-control" id="dob" name="dob" type="date" required>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" for="blood_group">Blood Group </label>
                                            <input class="form-control" id="blood_group" name="blood_group" type="text" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label for="photo" class="form-label">Photo</label>
                                            <input class="form-control form-control-sm" id="photo" name="photo" type="file">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-heading">Profile Detail</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Unique Id : <span class="fw-bold">{{ info.unique_id }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Passport : <span class="fw-bold">{{ info.passport }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Mother's Name : <span class="fw-bold">{{ info.mother }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Father's Name : <span class="fw-bold">{{ info.father }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Parent's Email : <span class="fw-bold">
                                        {{ info.parent_email }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Address : <span class="fw-bold">{{ info.street_1 }} {{ info.street_2 }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">City : <span class="fw-bold">{{ info.city }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Zip Code : <span class="fw-bold">{{ info.zip_code }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Country : <span class="fw-bold">{{ info.country }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Date of Birth : <span class="fw-bold">{{ info.dob }}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <p class="fs-6">Blood Group : <span class="fw-bold">{{ info.blood_group }}</span>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="col-sm-12 col-md-12">
                                <div class="mb-3">
                                    <ul>
                                        {% for idx in indexs %}
                                        <li><a href="{% url 'unidetail' idx.university.id %}">{{ idx.university }}</a> -
                                            {{ idx.university.country }}  
                                            {% if not request.user.student %}
                                            - <a href="{% url 'deletesuggestion' idx.id%}" class="btn btn-sm">Delete</a>
                                            {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if request.user.is_superuser or request.user.teacher %}
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                            data-bs-target="#assign_versity">
                            Suggest University
                        </button>
                    </div>
                    {% endif %}
                    <div class="modal fade" id="assign_versity" tabindex="-1" aria-labelledby="assign_teacher"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="add_country">Suggest University</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form action="{% url 'suggestuni' %}" method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ student.id }}" name="sid">
                                    <div class="modal-body">
                                        <label class="col-md-3 form-label">University</label>
                                        <div class="col-md-9">
                                            {% for university in universities %}
                                            <div class="form-check">
                                                <input class="form-check-input" id="{{ university.id }}"
                                                    name="universities" value="{{ university.id }}" type="checkbox">
                                                <label class="custom-control-label" for="{{ university.id }}">
                                                {{ university.name }} - {{ university.country }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <h4 class="card-heading">File Contents</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for file in files %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="{{ file.id }}-tab" data-bs-toggle="tab" data-bs-target="#content{{ file.id }}"
                                    type="button" role="tab" aria-controls="{{ file.id }}" aria-selected="true"><i class="far fa-folder"></i> {{ file.title }}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for file in files %}
                            <div class="tab-pane fade show" id="content{{ file.id }}" role="tabpanel" aria-labelledby="{{ file.id }}-tab">
                                <div class="p-5">
                                    <p class="lead">{{ file.title }} Contents</p>
                                    {% if file.data is not None %}
                                    <div class="row">
                                        {% for content in file.data %}
                                        <div class="col-md-4 col-lg-3 h-100">
                                            <div class="card mb-4">
                                                <div class="card-img-top img-fluid text-center p-5"><i class="fa fa-file fa-3x"></i></div>
                                                <div class="card-body">
                                                    <div class="d-grid col-12 mx-auto">
                                                        <a class="btn btn-outline-secondary" type="button" href="/media/{{ content.content.file_content }}">{{ content.content.file_content }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                    {% else %}
                                    <p class="lead fw-bold">No Data Available</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <h4 class="card-heading">Universities Suggested or Interested</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myIns" role="tablist">
                            {% for institute in institutes %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="{{ institute.id }}-tab" data-bs-toggle="tab" data-bs-target="#institute{{ institute.id }}"
                                    type="button" role="tab" aria-controls="{{ institute.id }}" aria-selected="true"><i class="fas fa-globe-asia"></i> {{ institute.country }}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for institute in institutes %}
                            <div class="tab-pane fade show" id="institute{{ institute.id }}" role="tabpanel" aria-labelledby="{{ institute.id }}-tab">
                                <div class="p-5">
                                    <p class="lead">{{ institute.title }} Contents</p>
                                    {% if institute.data is not None %}
                                    <div class="row">
                                        {% for content in institute.data %}
                                        <div class="col-md-4 col-lg-3 h-100">
                                            <div class="card mb-4">
                                                <div class="card-img-top img-fluid text-center p-5"><i class="fa fa-file fa-3x"></i></div>
                                                <div class="card-body">
                                                    <div class="d-grid col-12 mx-auto">
                                                        <a class="btn btn-outline-secondary" type="button" href="">{{ content.university }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    {% else %}
                                    <p class="lead fw-bold">No University Added Yet</p>
                                    {% if request.user.student %}
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#universityinterest" data-id="{{ institute.id }}" onclick="func(this)">
                                        <i class="fas fa-globe-europe"></i> Add Your University of Interest
                                    </button>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="universityinterest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="" id="loaduni">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <h4 class="card-heading">Universities Suggested or Interested</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for institute in institutes %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="{{ institute.id }}-tab" data-bs-toggle="tab" data-bs-target="#institute{{ institute.id }}"
                                    type="button" role="tab" aria-controls="{{ institute.id }}" aria-selected="true"><i class="far fa-folder"></i> {{ institute.country }}</button>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for institute in institutes %}
                            <div class="tab-pane fade show" id="institute{{ institute.id }}" role="tabpanel" aria-labelledby="{{ institute.id }}-tab">
                                <div class="p-5">
                                    <p class="lead">{{ institute.title }} Contents</p>
                                    {% if institute.data is not None %}
                                    <div class="row">
                                        {% for content in institute.data %}
                                        <div class="col-md-4 col-lg-3 h-100">
                                            <div class="card mb-4">
                                                <div class="card-img-top img-fluid text-center p-5"><i class="fa fa-file fa-3x"></i></div>
                                                <div class="card-body">
                                                    <div class="d-grid col-12 mx-auto">
                                                        <a class="btn btn-outline-secondary" type="button" href="">{{ content.university }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                    {% else %}
                                    <p class="lead fw-bold">No University Added Yet</p>
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#universityinterest" data-id="{{ institute.id }}" onclick="func(this)">
                                        <i class="fab fa-skype"></i> Add Your University of Interest
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="universityinterest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="" id="loaduni">

                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>
{% endblock %}

{% block scripts %}
<script>
    var firstTabEl = document.querySelector('#myTab li:first-child button');
    var firstTab = new bootstrap.Tab(firstTabEl);

    var secondTabEl = document.querySelector('#myIns li:first-child button');
    var secondTab = new bootstrap.Tab(secondTabEl);

    firstTab.show();
    secondTab.show();    
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function func(d){
        console.log(d.getAttribute("data-id"));
        var url = "{% url 'studentunis' %}"; 
        console.log(url);
        const cid = d.getAttribute("data-id");
        $.ajax({
            url: url,
            type: 'get',
            data: {
                'cid' : cid,
            },
            success: function(data){
                $('#loaduni').html(data);
            }
        })
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function func(d){
        console.log(d.getAttribute("data-id"));
        var url = "{% url 'studentunis' %}"; 
        console.log(url);
        const cid = d.getAttribute("data-id");
        $.ajax({
            url: url,
            type: 'get',
            data: {
                'cid' : cid,
            },
            success: function(data){
                $('#loaduni').html(data);
            }
        })
    }
</script>
{% endblock %}