{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-lg-4 px-xl-5">
    <!-- Breadcrumbs -->
    <div class="page-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">System Log </li>
        </ul>
    </div>
    <!-- Page Header-->
    <div class="page-header">
        <h1 class="page-heading">System Log</h1>
    </div>
    <div class="card card-table mb-4">
        <div class="card-body">
            <div class="preload-wrapper">
                <div class="table-responsive">
                    <table class="table table-hover mb-0" id="ordersDatatable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Total Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr class="align-middle">
                                <td> <strong>{{ log.title }}</strong><br><span
                                        class="text-muted text-sm">{{ log.description }}</span>
                                </td>
                                <td>{% autoescape off %}{{ log.link }}{% endautoescape %}</td>
                                <td>{{ log.created_at }}</td>
                                <td><span class="badge badge-success-light">{{ log.seen }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <span class="me-2" id="categoryBulkAction">
                    <select class="form-select form-select-sm d-inline w-auto" name="categoryBulkAction">
                        <option>No Actions</option>
                    </select>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/e-commerce-orders.js"></script>
{% endblock %}