{% extends 'utils/login_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row gx-0 min-vh-100">
        <div class="col-md-9 col-lg-6 col-xl-8 px-5 d-flex align-items-center shadow">
            <div class="w-100 py-5">
                <div class="text-center">
                    <!-- <img class="img-fluid mb-4" src="img/brand/brand-1.svg" alt="..." style="max-width: 6rem;"> -->
                    <h1 class="h2 text-uppercase mb-3">Eskay</h1>
                </div>
                <p>{{ msg }}</p>
                <p>Your Credit: {{ credit }}</p>
                <p>Course Title: {{ course.title }}</p>
                <p>Course Fee: {{ course.fee }}</p>

                {% if disabled %}
                <p class="text-center"><small class="text-muted text-center">
                    <a href="{% url 'confirmsubscription' course.id %}" aria-disabled="true"  class="btn btn-primary btn-sm disabled">Confirm {{ disabled }}</a> <br>
                    <a href="{% url 'profile' %}">Return To Profile</a>
                </small></p>
                {% else %}
                <p class="text-center"><small class="text-muted text-center">
                    <a href="{% url 'confirmsubscription' course.id %}">Confirm</a>.
                </small></p>
                {% endif %}
                
                <p class="mb-2 mb-md-0 text-muted text-center text-sm" aria-disabled="true" class="disabl">Eskay &copy; 2023</p>
            </div>
        </div>
        <div class="col-md-3 col-lg-6 col-xl-4 d-none d-md-block">
            <!-- Image-->
            <div class="bg-cover h-100"
                style="background-image: url(/static/cred/cred-2.jpg); background-repeat: no-repeat; background-attachment: fixed;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
