{% extends 'base_landing.html' %}

{% block landing %}
{% include 'utils/landing_photo.html' %}
{% endblock %}

{% block content %}
<section class="section-1">
    <div class="container">
        <div class="row p-5 my-5">
            <div class="col-md-4 d-flex align-items-center flex-row-reverse">
                <h1>Values You Will Get</h1>
            </div>
            <div class="col-md-8">
                <ul>
                    <li class="cs-list fs-4">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.0366 28.416C6.28442 28.416 0 22.1695 0 14.4641C0 6.75868 6.28442 0.512207 14.0366 0.512207C21.7889 0.512207 28.0733 6.75868 28.0733 14.4641C28.0733 22.1695 21.7889 28.416 14.0366 28.416Z" fill="#00FF84"></path><path d="M12.0676 18.0659L19.1756 8.69839C19.3455 8.45249 19.6553 8.41262 19.8676 8.60934C20.0799 8.80606 20.1144 9.16488 19.9445 9.41078L12.4614 19.3675C12.2629 19.6315 11.8676 19.634 11.6658 19.3725L8.12862 14.7877C7.95896 14.5416 7.99366 14.1828 8.20613 13.9863C8.41861 13.7898 8.7284 13.83 8.89806 14.0761L12.0676 18.0659Z" fill="#002333" stroke="#002333" stroke-width="0.5"></path></svg>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li class="cs-list fs-4">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.0366 28.416C6.28442 28.416 0 22.1695 0 14.4641C0 6.75868 6.28442 0.512207 14.0366 0.512207C21.7889 0.512207 28.0733 6.75868 28.0733 14.4641C28.0733 22.1695 21.7889 28.416 14.0366 28.416Z" fill="#00FF84"></path><path d="M12.0676 18.0659L19.1756 8.69839C19.3455 8.45249 19.6553 8.41262 19.8676 8.60934C20.0799 8.80606 20.1144 9.16488 19.9445 9.41078L12.4614 19.3675C12.2629 19.6315 11.8676 19.634 11.6658 19.3725L8.12862 14.7877C7.95896 14.5416 7.99366 14.1828 8.20613 13.9863C8.41861 13.7898 8.7284 13.83 8.89806 14.0761L12.0676 18.0659Z" fill="#002333" stroke="#002333" stroke-width="0.5"></path></svg>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li class="cs-list fs-4">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.0366 28.416C6.28442 28.416 0 22.1695 0 14.4641C0 6.75868 6.28442 0.512207 14.0366 0.512207C21.7889 0.512207 28.0733 6.75868 28.0733 14.4641C28.0733 22.1695 21.7889 28.416 14.0366 28.416Z" fill="#00FF84"></path><path d="M12.0676 18.0659L19.1756 8.69839C19.3455 8.45249 19.6553 8.41262 19.8676 8.60934C20.0799 8.80606 20.1144 9.16488 19.9445 9.41078L12.4614 19.3675C12.2629 19.6315 11.8676 19.634 11.6658 19.3725L8.12862 14.7877C7.95896 14.5416 7.99366 14.1828 8.20613 13.9863C8.41861 13.7898 8.7284 13.83 8.89806 14.0761L12.0676 18.0659Z" fill="#002333" stroke="#002333" stroke-width="0.5"></path></svg>
                        impedit ducimus veniam rem earum accusamus! Vero quos consequuntur assumenda nulla est magnam sint?
                    </li>
                    <li class="cs-list fs-4">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.0366 28.416C6.28442 28.416 0 22.1695 0 14.4641C0 6.75868 6.28442 0.512207 14.0366 0.512207C21.7889 0.512207 28.0733 6.75868 28.0733 14.4641C28.0733 22.1695 21.7889 28.416 14.0366 28.416Z" fill="#00FF84"></path><path d="M12.0676 18.0659L19.1756 8.69839C19.3455 8.45249 19.6553 8.41262 19.8676 8.60934C20.0799 8.80606 20.1144 9.16488 19.9445 9.41078L12.4614 19.3675C12.2629 19.6315 11.8676 19.634 11.6658 19.3725L8.12862 14.7877C7.95896 14.5416 7.99366 14.1828 8.20613 13.9863C8.41861 13.7898 8.7284 13.83 8.89806 14.0761L12.0676 18.0659Z" fill="#002333" stroke="#002333" stroke-width="0.5"></path></svg>
                        totam tenetur, molestiae harum temporibus nisi asperiores? Error aperiam harum reiciendis rerum vel!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<main id="about">
    <div class="container my-5">
        <h1 class="text-white">About Eskay Physics Web</h1>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
            Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
            undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
            Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
            theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
            sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the
            1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
            Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions
            from the 1914 translation by H. Rackham.</p>
        <br>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
            Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
            undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
            Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
            theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
            sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the
            1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
            Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions
            from the 1914 translation by H. Rackham.</p>
        <br>
    </div>

</main>

<section class="section-1" style="overflow: hidden;">
    <div class="jss233 jss225">
        <svg width="342" height="401" viewBox="0 0 342 401" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M86.8997 395.892C174.134 393.317 326.723 366.396 239.207 279.314C129.812 170.463 88.6396 211.51 133.46 266.602C178.281 321.694 433.595 324.32 296.468 119.536C186.767 -44.2912 55.6798 3.00856 3.84858 47.1368" stroke="#00FF84" stroke-width="10"></path></svg>
    </div>
    <div class="container text-center   ">
        <div class="row p-5">   
            <h1 class="fw-bold my-5">Why Eskay Science</h1>

            <p class="fs-3 p-5 lh-1">Whether it's a first brush on canvas or the last frame in an animation, Skillshare is here to support you on every step of your creative journey.</p>

            <p class="fs-3 p-5 lh-1">Whether it's a first brush on canvas or the last frame in an animation, Skillshare is here to support you on every step of your creative journey.</p>

            <p class="fs-3 p-5 lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure incidunt consectetur deleniti facilis quisquam, amet dignissimos ullam laboriosam temporibus exercitationem, nihil ipsam nam ratione non fugiat autem minima possimus at.</p>
        </div>
    </div>

    <div class="jss236 jss226">
        <svg width="1571" height="742" viewBox="0 0 1571 732" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1566.91 83.6144C1505.8 34.0963 1364.65 -43.7375 1369.71 47.7192C1376.04 162.04 1441.75 417.506 1342.83 392.645C1243.91 367.784 1243.96 236.278 1288.57 247.489C1350.64 263.089 1429.65 658.733 1090.77 642.748C772.835 627.751 440.792 551.965 512.498 660.512C598.499 790.7 245.329 706.1 3.48537 495.013" stroke="#00FF84" stroke-width="10"></path></svg>
    </div>
</section>


<!-- <section id="basic-idea">
    <div class="row g-0">
        <div class="col-md-4 col-lg-4 col-sm-12 bg-primary">
            <div class="d-flex align-items-center h-100" style="padding: 2em;">
                <div class="p-5 text-white">
                    <h1 class="mb-5">Videos</h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                        word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                        sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                        Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                        popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                        amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since
                        the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
                        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
                        accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="idea-background h-100">
                <div class="overlay px-5 py-5 text-light d-flex align-self-center">
                    <div class="row align-items-center" style="padding: 2em;">
                        <div class="col-md-5 d-flex flex-column justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->

<section class="section-2">
    <div class="MuiBox-root jss244 jss239">
        <svg width="1983" height="382" viewBox="0 0 1983 382" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1983 190.359C1898.6 123.677 1262.51 -58.6132 1265.98 27.8067C1270.3 135.832 1290.86 418.411 1145.87 358.398C1000.88 298.384 799.621 80.3332 803.949 190.359C808.277 300.384 1114.49 509.918 0 255.86" stroke="#00FF84" stroke-width="10"></path></svg>
    </div>
    <div class="container text-light my-5 position-relative">
        <div class="row">
            <div class="col-md-6">
                <h1 class="fw-bold mb-5">Communcate And Learn </h1>
                <p class="fs-4 my-2 mb-5 lh-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam reprehenderit non adipisllci laboriosam saepe, illo temporibus odit hic modi, harum, repellat quidem repellendus sunt nihil! Fuga molestiae vitae rem dolorem?</p>
                <p class="fs-4 my-2 mb-5 lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam non veniam officia eos earum, totam debitis, obcaecati labore ipsum minus asperiores quidem vitae quis reprehenderit autem eligendi aliquid amet ullam.</p>
                <button class="btn btn-sm btn-outline-light px-5">Check</button>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <img src="/static/asset/img/communicate.webp" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
    
</section>

<section class="section-1">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <img src="/static/asset/img/brain.webp" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 class="fw-bold mb-5">Learn And Grow</h1>
                <p class="py-2 lh-sm fs-5">Your edX learning experience is grounded in cutting edge cognitive science. With more than two dozen distinct learning features to help you achieve your goals, our approach follows three key principles:</p>
                <p class="py-2 lh-1 fs-6">
                    Learn new knowledge and skills in a variety of ways, from engaging video lectures and dynamic graphics to data visualizations and interactive elements.
                </p>

                <p class="py-2 lh-1 fs-6">
                    Demonstrating your knowledge is a critical part of learning. edX courses and programs provide a space to practice with quizzes, open response assessments, virtual environments, and more.
                </p>

                <p class="py-2 lh-sm fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus repudiandae sapiente ab sequi sint autem ut aliquam tempora maiores mollitia, facere iusto a earum dolorum atque quibusdam minima. Velit, alias?</p>
            </div>
           
        </div>
    </div>
</section>

<section id="join">
    <div class="advertise">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 py-5">
            <div class="my-5 text-center">
                <h1 class="add-stroke"> Eskay Physics</h1>
                <a href="{% url 'login' %}" class="btn btn-outline-light align-self-center rounded-0">Sign in to find out more.</a>
            </div>
        </div>
    </div>
</section>



<section id="basic-join">
    <div class="row g-0">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="join-background h-100">
                <div class="overlay px-5 py-5 text-light d-flex align-self-center">
                    <div class="row align-items-center" style="padding: 2em;">
                        <div class="col-md-5 d-flex flex-column justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 bg-primary">
            <div class="d-flex align-items-center h-100" style="padding: 2em;">
                <div class="p-5 text-white">
                    <h1 class="mb-5">Resolution</h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                        word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                        sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                        Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                        popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                        amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since
                        the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
                        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
                        accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}