{% extends 'base_landing.html' %}

{% block content %}
<main id="about" style="background-color: white;">
    <div class="container">
        <div class="row">
            <h1 class="text-dark mb-3"> {{ bundle.title }}</h1>
            <div class="col-md-8">
                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <!-- {% for content in contents %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#accordion{{content.id}}" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                {{ content.topic.title }}
                            </button>
                        </h2>
                        <div id="accordion{{content.id}}" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/media/{{ content.topic.thumb }}" class="img-thumbnail" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-dark">
                                            {{ lecture.detail }} <br>
                                            Interactive Lesson Link: <a href="{% url 'videoscontent' content.topic.id %}" target="_blank">Link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %} -->
                    {% if allowed %}
                    {% for content in contents %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#accordion{{content.id}}" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                {{ content.topic.title }}
                            </button>
                        </h2>
                        <div id="accordion{{content.id}}" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/media/{{ content.topic.thumb }}" class="img-thumbnail" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-dark">
                                            {{ content.topic.detail }} <br>
                                            Interactive Lesson Link: <a href="{% url 'videoscontent' content.topic.id %}" target="_blank">Link</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="fs-4 text-dark">Course Lectures are unavailabe. You didn't subscribed this course Yet. Please Subscribed to See the course Lectures. Thanks</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <img src="/static/asset/img/phy-10.jpg" class="img-fluid mb-2" style="height: 240px;">
                <p class="lead text-dark">Type: {{ bundle.bundleType }}</p>
                <p class="lead text-dark">Fee: {{ bundle.fee }}</p>
                <p class="lead text-dark">Subscription Status: {{ bundle.subscriptionReq }}</p>
            </div>
        </div>
    </div>
</main>


<!-- <section id="basic-idea">
    <div class="row g-0">
        <div class="col-md-4 col-lg-4 col-sm-12 bg-danger">
            <div class="d-flex align-items-center h-100" style="padding: 2em;">
                <div class="p-5 text-white">
                    <h1 class="mb-5">{{ course.title }}</h1>
                    <p>{{ course.detail }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="idea-background h-100">
                <div class="overlay px-5 py-5 text-light d-flex align-self-center">
                    <div class="row align-items-center" style="padding: 2em;">
                        <div class="col-md-5 d-flex flex-column justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="join">
    <div class="advertise">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 py-5">
            <div class="my-5 text-center">
                <h1 class="add-stroke"> Eskay Physics</h1>
                <a href="{% url 'login' %}" class="btn btn-outline-light align-self-center rounded-0">Sign in to find
                    out more.</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}