{% extends 'base_landing.html' %}

{% block content %}
<main id="about" style="background-color: white;">
    <div class="container">
        <div class="row">
            <h1 class="text-dark mb-3 mt-2">{{ topic.title }}</h1>
            <div class="col-md-8">
                <div class="my-5">  
                    <p class="lead text-dark">Topic Contents</p>
                    {% for content in contents %}
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/media/{{ content.topic.thumb }}" class="img-thumbnail content-background" alt="...">
                            <p class="text-dark">
                                {{ content.topic.detail }}
                            </p>
                            <p class="text-dark">Interactive Lesson Link: <a href="{{ content.zipurl }}" target="_blank">Link</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-5">
                    <p class="lead text-dark">Topic Details</p>
                    <p class="text-dark">Subject : {{ topic.subject.title }}</p>
                    <p class="text-dark">Fee: {{ topic.fee }}</p>
                    <p class="text-dark">Total Visited: {{ topic.view_count }}</p>

                    <p class="text-dark">{{ info }}</p>
                    {% if info is not None %}
                    <p class="text-dark">{{ info.shortdescription }}</p>
                    <a href="" class="btn btn-sm btn-outline-success rounded-0">Instructional Video Link</a>
                    <a href="" class="btn btn-sm btn-outline-success rounded-0">Theory Video Link</a>
                    {% endif %}
                    <br class="my-2">
                    {% for exercise in exercises %}
                    <a href="/media/{{exercise.exercise}}" class="btn btn-sm btn-outline-success rounded-0">Exercise - {{ exercise.id }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if info is not None %}
        <h3>Topic Extra Information</h3>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <img src="/media/{{info.articleimage}}" class="img-thumbnail" alt="">
                <p class="text-dark">{{ info.article }}</p>
            </div>
            <div class="col-md-6">
                <img src="/media/{{info.instructionimage}}" class="img-thumbnail" alt="">
                <p class="text-dark">{{ info.instruction }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        {% endif %}
    </div>
</main>

<section id="join">
    <div class="advertise">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 py-5">
            <div class="my-5 text-center">
                <h1 class="add-stroke"> Eskay Physics</h1>
                <a href="{% url 'login' %}" class="btn btn-outline-light align-self-center rounded-0">Sign in to find
                    out more.</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}