{% extends 'base_landing.html' %}

{% block content %}
<main id="about" style="background-color: white ;">
    <div class="container">
        <div class="row">
            <div class="my-5">
                <!-- <h1 class="mb-3">Videos</h1>
                {% for course in courses %}
                <div class="col-md-12">
                    <div class="card mb-3 rounded-0">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/media/{{ course.thumb }}"
                                    class="img-fluid rounded-start" alt="{{ course.title }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body bg-primary">
                                    <h5 class="card-title text-white">{{ course.title }}</h5>
                                    <p class="card-text text-dark course-landing-text text-white">{{ course.detail }}</p>
                                    {% if course.subscriptionReq %}
                                    <p class="card-text mt-2"><small class="text-white">Subscription Required: Required <br> Fee: {{ course.fee }}</small></p>
                                    {% else %}
                                    <p class="card-text mt-2"><small class="text-white">Subscription Required: Not Required <br> Fee: {{ course.fee }}</small></p>
                                    {% endif %}
                                    <a href="{% url 'videoscontent' course.id %}" class="btn btn-sm btn-outline-warning rounded-0">See Course Content</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} -->

                <h1 class="mb-3">Topics</h1>

                <p class="text-dark">Following are the topics which are provided in this platform. You can Explore them and see if they are helpful To you for any purpose. Contact Us for any help and query. Thanks</p>

                <div class="row">
                    {% for topic in topics %}
                    <div class="col-md-3 p-2">
                        <div class="card rounded-0">
                            <img src="/media/{{ topic.thumb }}"
                                height="200px" class="card-img-top rounded-0">
                            <div class="card-body bg-primary">
                                <h5 class="card-title text-white">{{ topic.title }}</h5>
                                <p class="card-subtitle">{{ topic.subject.title }}</p>
                                {% if topic.subscriptionReq %}
                                <p class="card-text mt-2"><small class="text-white">Subscription Required: Required <br> Fee: {{ topic.fee }}</small></p>
                                {% else %}
                                <p class="card-text mt-2"><small class="text-white">Subscription Required: Not Required <br> Fee: {{ topic.fee }}</small></p>
                                {% endif %}
                                <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-warning rounded-0">Expore</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>


<section id="basic-idea">
    <div class="row g-0">
        <div class="col-md-4 col-lg-4 col-sm-12 bg-video">
            <div class="d-flex align-items-center h-100" style="padding: 2em;">
                <div class="p-5 text-white">
                    <h1 class="mb-5 text-dark">Videos</h1>
                    <p class="text-dark">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                        word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                        sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                        Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                        popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                        amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since
                        the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
                        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
                        accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="idea-background h-100">
                <div class="overlay px-5 py-5 text-light d-flex align-self-center">
                    <div class="row align-items-center" style="padding: 2em;">
                        <div class="col-md-5 d-flex flex-column justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="join">
    <div class="advertise">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 py-5">
            <div class="my-5 text-center">
                <h1 class="add-stroke"> Eskay Physics</h1>
                <a href="{% url 'login' %}" class="btn btn-outline-light align-self-center rounded-0">Sign in to find
                    out more.</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}