{% extends 'base_landing.html' %}

{% block content %}
<main id="about" class="main-content" style="background-color: white ;">
    <section class="section-course text-white">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8">
                    <p class="fs-3 fw-bold mb-2">Topics</p>
                    <p class="my-2">Following are the topics which are provided in this platform. You can Explore them and see if they are helpful To you for any purpose. Contact Us for any help and query. Thanks</p>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="link-light text-decoration-none">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="my-5">
                <div class="row">
                    {% for topic in topics %}
                    <div class="col-md-3 p-2">
                        <div class="card rounded-0">
                            <img src="/media/{{ topic.thumb }}"
                                height="200px" class="card-img-top rounded-0">
                            <div class="card-body">
                                <h5 class="card-title">{{ topic.title }}</h5>
                                <p class="card-subtitle text-dark">{{ topic.subject.title }}</p>
                                {% if topic.subscriptionReq %}
                                <p class="card-text mt-2 text-dark"><small class="">Subscription Required: Required <br> Fee: {{ topic.fee }}</small></p>
                                {% else %}
                                <p class="card-text mt-2 text-dark"><small class="">Subscription Required: Not Required <br> Fee: {{ topic.fee }}</small></p>
                                {% endif %}
                                <!-- <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-warning rounded-0">Expore</a> -->
                                <div class="d-grid gap-2">
                                    {% comment %} <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-dark rounded-0" type="button">AS Level</a>
                                    <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-dark rounded-0" type="button">A2 Level</a>
                                    <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-dark rounded-0" type="button">O Level</a> {% endcomment %}
                                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                        <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-eskay" type="button">AS Level</a>
                                        <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-eskay" type="button">A2 Level</a>
                                        <a href="{% url 'videoscontent' topic.id %}" class="btn btn-sm btn-outline-eskay" type="button">O Level</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card rounded-0 my-2">
                        <img src="https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="d-grid gap-2">
                            <button class="btn btn-sm btn-outline-dark rounded-0" type="button">Button</button>
                            <button class="btn btn-sm btn-outline-dark rounded-0" type="button">Button</button>
                            <button class="btn btn-sm btn-outline-dark rounded-0" type="button">Button</button>
                          </div>
                        </div>
                    </div> -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>


<!-- <section id="basic-idea">
    <div class="row g-0">
        <div class="col-md-6 col-lg-6 col-sm-12 bg-video">
            <div class="d-flex align-items-center h-100" style="padding: 2em;">
                <div class="p-5 text-white">
                    <h1 class="mb-5 text-dark">Physics</h1>
                    <p class="text-dark">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                        Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                        word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                        sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                        Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                        popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                        amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since
                        the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
                        Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
                        accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="idea-background h-100">
                <div class="overlay px-5 py-5 text-light d-flex align-self-center">
                    <div class="row align-items-center" style="padding: 2em;">
                        <div class="col-md-5 d-flex flex-column justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->


{% endblock %}